<!-- ko if: isDisplayedDiscountTotal() -->
<tr class="totals coupon-fee excl">
    <th class="mark" colspan="1" scope="row" data-bind="text: Rewardpoint"></th>
    Gia duoc giam xuong con 
    <td class="amount">
        <span class="price" data-bind="text: getDiscountTotal(), attr: {'data-th': Rewardpoint}"></span>
    </td>
</tr>
<!-- <script type="text/javascript">
    ko.applyBindings(new getDiscountTotal(), document.getElementById("your-trips"));
</script> -->
<!-- /ko →
