.giftwrapImage {
	width: 100% !important;
	/*height: 135px;*/
}

.giftwrapTitle {
	font-weight: bold;
    margin: 5px 5px;
}

.giftwrapPrice {
	margin: 5px 5px;
}

.giftwrap-slider-item {
	padding: 7px;
	cursor: pointer;
}

.giftwrap-slider-item.active {
	border: 2px solid #606ea6;
    border-radius: 7px;
}

.admin__page-section-item.giftOption {
	width: calc( (100%) * 0.5 - 30px );
	float: left;
}

.admin__page-section-item.giftMessage {
	width: calc( (100%) * 0.5 - 30px );
	float: right;
}

.giftOptionContent {
	display: flex;
	justify-content: space-between;
	margin-right: 0px;
}
th.mark {
    font-size: 15px;
}
.mark, mark {
    padding: .2em;
    background-color: none;
}
/*hung test*/
/*slide item*/
div.checkout-agreements-block .payment-option-title.field.choice {
	padding: 2rem 0 !important;
}
div.checkout-agreements-block .isUseGiftLabel {
    font-weight: 900;
}
div.checkout-agreements-block .giftwrapNotice {
	padding-bottom: 2rem;
    border-bottom: 1px solid darkgray;
}
div.checkout-agreements-block .giftwrapHeader {
	font-weight: 600;
	font-size: 2rem;
}
div.checkout-agreements-block .giftArea {
	margin-top: 2rem;
}
#gift-wrap-block .giftwrap-slider-item  {
	width: 14rem !important;
    height: 20rem !important;
}
 #gift-wrap-block .giftwrapImage { /* slide image*/
	height: 14rem;
}
div.checkout-agreements-block .giftMessageHeader {
	margin-top: 5rem;
}

/*Field set and block*/
.giftwrap .owl-dots {
	display: none;
}
.giftwrap .owl-nav {
	top: 50% !important;
}
 /* #gift-wrap-block .fieldset {
	width: 58rem;
} */
 div.checkout-agreements-block {
	width: 61rem;
}
 #gift-wrap-block .owl-item.active {
    width: auto !important;
}
 #gift-wrap-block .owl-item  {
    width: auto !important;
}
@media only screen and (max-width: 769px) {
	.payment-method-billing-address .fieldset {
		width: 38rem;
	}
	 div.checkout-agreements-block {
		width: 45rem;
	}
}
@media only screen and (max-width: 540px) {
	.payment-method-billing-address .fieldset {
		width: 38rem;
	}
	 div.checkout-agreements-block  {
		width: 38rem;
	}
}
@media only screen and (max-width: 414px) {
	div.checkout-agreements-block  {
		width: 35rem;
	}
	.payment-method-billing-address .fieldset {
		width: 38rem;
	}
	.payment-method-billing-address .field._required {
		width: 35rem;
	}
}
@media only screen and (max-width: 375px) {
	.payment-method-billing-address .fieldset {
		width: 34rem;
	}
	.payment-method-billing-address .field._required {
		width: 34rem;
	}
	/* div.checkout-agreements-block {
		width: 35rem;
	}*/
	/*.checkout-index-index.payment-option._collapsible.opc-payment-additional.comment.last {
		width: 35rem;
	}*/
}
