
<div class="rw-detail">
    <?php
    $totalEarned = 0;
    $totalSpent = 0;
    $pointCollectionFactory= $block->getPointCollectionFront();?>
    <?php
    $hisCollectionPoint=$block->getHisCollectionFront();
    foreach ($hisCollectionPoint as $count):
        if (($count['action'] == 'Admin Point Change' && $count['point'] >= 0) || $count['action'] == 'Order Completed') {
            $totalEarned += $count['point'];
        }
        if ($count['point'] <= 0) {
            $totalSpent += $count['point'];
        } ?>
    <?php endforeach;?>
    <h1 class="rw_points"><?=($totalEarned - ($totalSpent * -1))?></h1>
<p class="rw-balance">Current Balance</p>
<br>
<hr>

<p class="rw-total">Total Earned: <span class="rw-point-total"><?php echo $totalEarned;?></span> </p>
<p class="rw-spent">Total Spent: <span class="rw-point-spent"><?php echo abs($totalSpent);?></span> </p>
</div>



