<?php
// use Magento\Framework\View\Element\Template;
// /* @var Template $block /
// $this->cc()
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$cart = $objectManager->get('\Magento\Checkout\Model\Cart'); 
$point = $cart->getQuote()->getData('rewardpointDB');
if($customerSession->isLoggedIn() && $point > 0) {  // Display when it doesn't have discount applied reward points
    ?>
     <div class="row">
         <div class="col-12"><img src="https://i.ibb.co/FsNGZhr/c.png" alt="dollar" style="width:15px;height:15px;"><span><?php echo $block->showRewardpoint();?></span></div>
     </div>
      <div class="row">
          <div class="col-12"><img src="https://i.ibb.co/3rSGZbz/warning.png" alt="dollar" style="width:15px;height:15px;">
          <span><?php echo $block->showDiscountRewardpoint();?></span></div>
      </div>
<?php }
?>
