.giftwrapImage {
	width: 100% !important;
	/*height: 135px;*/
}

.giftwrapTitle {
	font-weight: bold;
    margin: 5px 5px;
}

.giftwrapPrice {
	margin: 5px 5px;
}

.giftwrap-slider-item {
	padding: 7px;
	cursor: pointer;
}

.giftwrap-slider-item.active {
	border: 2px solid #C59B9C;
    border-radius: 7px;
}
/*hung test*/
/*slide item*/
 #gift-wrap-block .giftwrap-slider-item  {
	width: 14rem !important;
    height: 20rem !important;
}
 #gift-wrap-block .giftwrapImage { /* slide image*/
	height: 14rem;
}

/*Field set and block*/
 #gift-wrap-block .fieldset {
	width: 58rem;
}
 div.checkout-agreements-block {
	width: 60rem;
}
 #gift-wrap-block .owl-item.active {
    width: auto !important;
}
 #gift-wrap-block .owl-item  {
    width: auto !important;
}
@media only screen and (max-width: 769px) {
	/* .payment-method-billing-address .fieldset {
		width: 38rem;
	} */
	 div.checkout-agreements-block {
		width: 45rem;
	}
}
@media only screen and (max-width: 540px) {
	/* .payment-method-billing-address .fieldset {
		width: 38rem;
	} */
	 div.checkout-agreements-block  {
		width: 38rem;
	}
}
@media only screen and (max-width: 414px) {
	/* .payment-method-billing-address .fieldset {
		width: 35rem;
	} */
	.payment-method-billing-address .field._required {
		width: 35rem;
	}
}
@media only screen and (max-width: 375px) {
	/* .payment-method-billing-address .fieldset {
		width: 34rem;
	} */
	.payment-method-billing-address .field._required {
		width: 34rem;
	}
	/* div.checkout-agreements-block {
		width: 35rem;
	}*/
	/*.checkout-index-index.payment-option._collapsible.opc-payment-additional.comment.last {
		width: 35rem;
	}*/
}
